<footer class="footer-container">
    <div class="footer-links">
        <div class="footer-column">
            <a href="/quienes-somos" class="footer-link">Quiénes somos</a>
            <a href="/terminos" class="footer-link">Términos y Condiciones</a>
            <a href="/privacidad" class="footer-link">Privacidad</a>
        </div>
        <div class="footer-column">
            <a href="/se-parte" class="footer-link">Sé parte de ShamuyGo</a>
            <a href="/blog" class="footer-link">Blog</a>
            <a href="/top-comidas" class="footer-link">Top de viajes</a>
        </div>
        <div class="footer-column">
            <a href="/top-cadenas" class="footer-link">Top operadoras</a>
            <a href="/top-ciudades" class="footer-link">Top ciudades</a>
            <a href="/registra-negocio" class="footer-link">Registra tu negocio</a>
        </div>
        <div class="footer-column">
            <a href="/centro-socios" class="footer-link">Centro de Socios</a>
            <!-- <a href="/ShamuyGo-colaboradores" class="footer-link">ShamuyGo para tus colaboradores</a> -->
        </div>
    </div>
    <div class="footer-bottom">
        <hr />
        <p>ShamuyGo © 2024</p>
    </div>
</footer>