<div class="carousel-container">
    <!-- Botón izquierdo -->
    <button class="scroll-button left" (click)="scroll('left')">
        <i class="fa-solid fa-arrow-left"></i>
    </button>

    <!-- Carrusel de imágenes -->
    <div class="carousel">
        <div class="carousel-item" *ngFor="let image of images">

            <img [src]="image" alt="Food image">
        </div>
    </div>

    <!-- Botón derecho -->
    <button class="scroll-button right" (click)="scroll('right')">
        <i class="fa-solid fa-arrow-right"></i>
    </button>
</div>