<nav class="navbar">
    <!-- Logotipo -->
    <div class="logo-container">
        <img src="assets/img/logos/shamuy.png" alt="ShamuyGo" class="logo-image">
        <!-- <span class="logo-text">PedidosYa</span> -->
    </div>

    <!-- Barra de búsqueda -->
    <div class="search-container">
        <mat-form-field appearance="outline" class="search-field">
            <input matInput placeholder="Buscar Tours" />
        </mat-form-field>
        <button mat-raised-button color="warn" class="search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        
    </div>
</nav>


<!-- <nav class="navbar">
    <div class="navbar-logo">
        <img src="assets/img/logos/shamuy.png" alt="ShamuyGo" class="logo-image">
    </div>

    <div class="navbar-search">
        <section>
            <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()" class="search-input"  >
                <input matInput placeholder="Buscar Tour" required style="width: 100%;" class="search-input" />
            </mat-form-field>
        </section>

        <div class="example-button-container">
            <button mat-fab aria-label="Example icon button with a delete icon" class="search-button"> 
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

    </div>
</nav> -->